* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  height: 100vh;
  max-width: 100%; /* Ajusta para que o body ocupe toda a largura da tela */
}

.imgs {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%; /* Garante que o container ocupe 100% da altura da tela */
  padding: 20px;
  border-radius: 4px;
  background-color: rgb(226, 226, 226);
  background-image: url(./WhatsApp\ Image\ 2025-05-23\ at\ 23.51.54.jpeg);
  background-repeat: no-repeat;
  background-size: cover; /* Garante que a imagem de fundo se ajuste à tela */
  background-position: bottom right; /* Foca o lado inferior direito da imagem */
  background-attachment: fixed; /* Faz a imagem ficar fixa enquanto o conteúdo rola */

  opacity: 0; /* Inicialmente invisível */
  transform: translateY(30px); /* Começa um pouco abaixo */
  transition: opacity 1s ease-out, transform 1s ease-out; /* Transição suave para opacidade e deslocamento */
}

body.loaded .container {
  opacity: 1; /* Torna visível após o carregamento */
  transform: translateY(0); /* Move o conteúdo para a posição original */
}

img {
  width: 100px;
}

.boxes {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.box-a {
  display: flex;
  background-color: rgb(255, 255, 255);
  color: rgb(32, 14, 67);
  text-decoration: none;
  padding: 15px;
  width: 250px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.footer {
  position: absolute; /* Fixa o footer na parte inferior */
  bottom: 0; /* Posiciona na parte inferior */
  width: 100%; /* Garante que o footer ocupe toda a largura da página */
  text-align: center;
  color: white;
  padding: 20px 0; /* Adiciona padding para dar mais espaço */
  font-size: 14px; /* Ajusta o tamanho da fonte */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
}

p {
  font-size: 10px;
}

@media (max-width: 728px) {
  body {
    width: 100%;
  }

  .container {
    height: 100%; /* O container agora vai ocupar 100% da altura da tela */
    max-width: 100%; /* Garante que o container ocupe 100% da largura no celular */
  }

  img {
    max-width: 200px;
    width: 100%;
    margin-bottom: 50px; /* Ajusta a imagem para telas pequenas */
  }

  .boxes {
    margin-top: 20px; /* Ajusta o espaçamento para dispositivos menores */
  }
}
